div, p, li {
	color:  #191919;
}

html, body {
    height: 100%;
}

body {
	background: #F4F9F2;	
}

.nopadding {
	padding: 0px;
}

.nomargin {
	margin : 0px;
}

.main-title {
    padding: 5px;
    margin: 0px;
    text-align: center;
    font-size: 24px;
    padding-top: 15px;	
    color: #000;
}

.content {
	padding: 50px 0px 0px 0px;
    margin: 0px 0px 50px 0px;
    height: 90%;
}

/* Main List Styling */
ul.grid-main {
	margin: 20px 0px 10px 0px;
    padding: 5px;	
}

ul.grid-main  li {
	list-style-type: none;
	min-height: 60px; 
  	margin: 0px;	
    padding: 0px 0px 25px 0px;  	
}

.grid-icon-holder {
	text-align: center;
	margin : 0px;
	padding : 0px;
}

.grid-item {
	padding-top: 5px;
	text-align: center;
	font-size: 12px;
}

.category {
	color: #191919;
    font-weight: bold
}

.grid-icon  {
	height: 60px;
    width: 60px;
}

.navbar-quote {
	background-color: #CDFDBC;
	color: #000;
}

.list-quotes {
	padding: 0px 0px 60px 0px;
} 

.list-quotes li {
	list-style: none;
	display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 25px;
    position: relative;
    padding: 10px 5px;	
}

.quote-list-item {
	border-bottom: 1px solid #1E7301;
    padding: 5px 7px 10px 10px;
    font-size: 18px;
}

/*
li.quote-list-item:nth-child(even) {
	background: #CCC
}

li.quote-list-item:nth-child(odd) {
	 background: #FFF
}
*/

.quote-content {
	margin: 40px 10px;
    text-align: center;
    font-size: 18px;
}

#footer {
	bottom: 0px;
	position: absolute;
}