div, p, li {
	color:  #191919;
}


.nopadding {
	padding: 0px;
}

.nomargin {
	margin : 0px;
}

.main-title {
    padding: 5px;
    margin: 0px;
    text-align: center;
    font-size: 24px;
    padding-top: 15px;	
    color: #000;
}

.content {
    margin: 50px 0px 0px 0px;
    padding: 0px;	
}

/* Main List Styling */
ul.grid-main {
	margin: 20px 0px 10px 0px;
    padding: 5px;	
}

ul.grid-main  li {
	list-style-type: none;
	min-height: 60px; 
  	margin: 0px;	
    padding: 0px 0px 25px 0px;  	
}

.grid-icon-holder {
	text-align: center;
	margin : 0px;
	padding : 0px;
}

.grid-item {
	text-align: center;
	font-size: 12px;
}

.category {
	color: #191919;
    font-weight: bold
}

.grid-icon  {
	height: 60px;
    width: 60px;
}

.navbar-quote {
	background-color: #F7BDAA;
	color: #000;
}

.list-quotes {
} 

.quote-list-item {
    padding: 5px 7px 10px 10px;
    font-size: 16px;
}

li.quote-list-item:nth-child(even) {background: #CCC}
li.quote-list-item:nth-child(odd) {background: #FFF}