<md-toolbar class="toolbar">
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" aria-label="back" ng-click="back()">
			<md-icon md-menu-origin class="material-icons">keyboard_backspace</md-icon>
        </md-button>
		<h2 class="md-body-1 quote-head" ng-if="quote.position">{{category.code | i18next}}  ({{quote.position}} of {{quote.size}})</h2>
		<h2 class="md-subhead" ng-if="quote.position == 'undefined'">{{category.code | i18next}}</h2>
		<span flex></span>
		<md-button class="md-icon-button" aria-label="favourite" ng-if="quote.favourite" ng-click="unfavourite($event, quote)">
        	<md-icon class="material-icons">favorite</md-icon>
        </md-button>
		<md-button class="md-icon-button" aria-label="unfavourite" ng-if="!quote.favourite" ng-click="favourite($event, quote)">
        	<md-icon class="material-icons">favorite_border</md-icon>
        </md-button>
		<md-button class="md-icon-button" aria-label="content copy" ng-click="copy(quote)">
        	<md-icon class="material-icons">content_copy</md-icon>
        </md-button>
		<md-button class="md-icon-button" aria-label="share" ng-click="share($event, tip)">
        	<md-icon class="material-icons">share</md-icon>
        </md-button>
	</div>
</md-toolbar>

<md-content class="layout-fill">
	<div md-swipe-left="older({{index}})" md-swipe-right="newer({{index}})" class="layout-fill">
		<input type="hidden" id="sequence" ng-model="quote.position"/></input>
		<input type="hidden" ng-model="quote.size"/></input>
		<input type="hidden" value="{{quote.id}}"/></input>
		<div flex layout-align="center center" class="layout-fill layout-margin layout-padding layout-wrap md-title" ng-bind-html="quote.content" ng-class="category.code"></div>
	</div>	
</md-content>
